<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  	</head>
  	<style>
  	.room{
	  	width: 200px;
	  	border: 1px solid #ddd;
	  	padding: 20px;
  	}
  	</style>
  	<body>
	<script src="/socket.io/socket.io.js"></script>
	<script src="/javascripts/jquery-1.10.2.min.js"></script>

	<h1><%= title %></h1>
	<p>Welcome to <%= title %></p>

	<% if (user) { %>
	当前登录用户：<%= user.name %>
	<a href="/logout">退出</a>
	<a href="/room/<%= user.uid%>">进入游戏房间</a>
	<% } else {%>
	<form action="<%= method%>" method="post">
	    <input type="text" id="user" name="user">
	    <input type="submit" value="登录">
	</form>
	<% } %>
  </body>
</html>
