<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <style>
  .room{
  	width: 200px;
  	border: 1px solid #ddd;
  	padding: 20px;
  }
  </style>
  <body>
  	<script src="/socket.io/socket.io.js"></script>
	<script src="http://www.haimi.com/static/js/jquery-1.10.2.min.js"></script>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <% if (user) { %>
    当前登录用户：<%= user.name %> 
    <a href="/logout">退出</a>
    <div id="sys"></div>
    <div>当前在线用户：</div>
    <div id="online"></div>
    <div id="sendBox" style="display: none;">
        <span id="sendto"></span>
        <input type="text" id="msg">
        <input type="button" id="submit" value="发送消息">
    </div>
    <!-- <input type="button" id="creatRoom" value="创建游戏房间"> -->
    <div id="rooms">
    	
    </div>
    <% } else {%>
    <form action="/login" method="post">
        <input type="hidden" id="uid" name="uid" value="<%= timemap%>">
	    <input type="text" id="user" name="user">
	    <input type="submit" value="登录">
    </form>
	<% } %>
    <script>
    var username, uid;
    <% if (user) { %>
    username = '<%= user.name %>';
    uid = <%= user.uid%>
    <% } %>
    $(function(){
    	var $msg = $('#msg');
    	var $submit = $('#submit');
        var $online = $('#online');
        var $sendBox = $('#sendBox');
        var $sendto = $('#sendto');
        var $sys = $('#sys');
        var $creatRoom = $('#creatRoom');
        var $rooms = $('#rooms');
        var sendToId = '';
        var roomId = [];

        if(username){
            var socket = io.connect();
                socket.emit('login'); //登录

                socket.on('to', function(data){
                    console.log(data)
                })

                $submit.click(function(){
                    if(!sendToId){
                        alert('请选择发送人')
                        return
                    }
                    if($msg.val() == ''){
                        alert('消息不能为空')
                        return
                    }
                    socket.emit('msg', uid, sendToId, $msg.val())
                })

                socket.on('online', function (users) {  //在线用户
                    $online.empty();
                    $.each(users, function(index, item){
                        $online.append('<p><a title="给他发消息" href="javascript:;" data-id="'+ item.uid +'" data-name="'+ item.name +'">'+ item.name +'</a></p>')
                    })
                });

                socket.on('sys', function(status, users){ //系统消息
                    $sys.append('<p style="color:blue;">'+ users.name + status +'</a></p>')
                })

                socket.on('room', function(status,users, roomId){ //房间信息
                    $rooms.find('.room' + roomId).append('<p style="color:red;">'+ users.name + status + roomId +'了房间' +'</a></p>')

                })

                socket.on('rooms', function(data){    //房间数量
                	$.each(data, function(key, item){
                		if(roomId.indexOf(key) != -1){
                			return;
                		}
                		var html = '<div class="room">';
                		html += '<p>房间号：' + key + '</p>';
                		html += '<p>房间成员：'
                		var hasSelf = false;
                		$.each(item, function(index, item2){
                			if(item2.uid == uid){
                				hasSelf = true;
                			}
                			html += '<a>' + item2.name + '</a> '
                		})
                		html += '</p>'
                		if(hasSelf){
                			html += '<p><a class="leaveRoom" href="javascript:;" data-id="'+ key +'">退出房间</a></p>'
                		}else{
                			html += '<p><a class="joinRoom" href="javascript:;" data-id="'+ key +'">加入房间</a></p>'
                		}
                		html += '<div class="room'+ key +'"></div>'
                		html += '</div>'
                		$rooms.append(html)
                		roomId.push(key)
                	})
                })

                $online.on('click', 'a', function(){
                    $sendto.html('发送给：' + $(this).data('name'));
                    $sendBox.show();
                    sendToId = $(this).data('id');
                })


                $creatRoom.on('click', function(){  //创建房间
                	socket.emit('creat-join-room')
                })

                $rooms.on('click','a.leaveRoom', function(){  //退出房间
                	socket.emit('leave-room', $(this).data('id'))
                })

                $rooms.on('click', 'a.joinRoom', function(){
                	socket.emit('creat-join-room', $(this).data('id'))
                })
        }
    })
    </script>
  </body>
</html>
